.icon__profile__wrapper {
    cursor: pointer;
    // width: 32px;
    // height: 32px;

    img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        object-fit: cover;
    }
}