.search__container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .search__wrapper {
        padding-top: 120px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        flex: 1;

        .product__cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

}