.container__modal {
    padding: 0 50px 40px;

    .headline__modal {
        font-family: MetropolisBold;
        font-size: 28px;
        text-align: center;
    }
    
    .btn__newAddress {
        display: inline-block;
        width: 100%;
        font-size: 18px;
        font-family: MetropolisBold;
        margin-top: 30px;
        margin-bottom: 34px;
        padding: 34px 0;
        background-color: #fff;
        color: #9b9b9b;
        border: none;
        border: 2px dashed #9b9b9b;
        transition: .3s;
    }

    .btn__newAddress:hover {
        background-color: #db3022;
        border-color: #fff;
        color: #fff;
    }

    .address__wrapper {
        padding: 30px 25px;
        border: 1px solid #db3022;
        border-radius: 4px;
        background-color: #fff;
        margin-bottom: 15px;
        cursor: pointer;
        transition: .3s;
    }

    .address__wrapper:hover {
        background-color: #eeeeee;
    }

    .btn__change__address {
        margin: 0;
        padding: 0;
        font-family: MetropolisBold;
        display: inline-block;
        font-size: 16px;
        color: #db3022;
        cursor: pointer;
        transition: .3s;
    }

    .btn__change__address:hover {
        text-decoration: underline;
    }
}

