.profile__wrapper {
    // display: flex;
    // flex-direction: column;
    // height: 100vh;
    // padding: 40px 0;
    
    // .profile__content {
    //     flex: 1;
    //     background-color: red;
    // }
    
    .profile__left__section {
        box-sizing: border-box;
        padding: 220px 70px 0 170px;
        position: sticky;
        height: 100%;
        background-color: #fff;
    }

    .profile__right__section {
        background-color: #F5F5F5;
    }
}