.profile__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // padding: 40px 0;
    
    // .profile__content {
    //     flex: 1;
    //     background-color: red;
    // }
    
    .profile__content.profile__left__section {
        position: sticky;
        box-sizing: border-box;
        padding: 220px 70px 0 170px;
        position: sticky;
        height: 100vh;
        background-color: #fff;
    }

    .profile__content.profile__right__section {
        background-color: #F5F5F5;
    }
}