input.search__input {
    box-sizing: border-box;
    font-family: MetropolisThin;
    border: 1px solid #adadad;
    border-right: none;
    border-radius: 20px;
}

.btn__search {
    border-radius: 20px;
}