.container__modal {
    padding: 0 14px;

    .payments__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;

        img {
            width: 100%;
            width: 82px;
        }
    }
}

.summary__wrapper {

    .order__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.summary__total__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -8px 10px rgba(217, 217, 217, 0.25);

    .summary__total__price {
        padding-top: 19px;
        flex: 2;
    }
}