.button__circle {
    display: flex;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
    transition: .3s;
}

.button__circle:hover {
    background-color: #e4e4e4;
}

.button__circle:disabled, .button__circle[disabled] {
    background-color: #d5d5d5;
    color: #fff;
}