.input__wrapper {
    .input {
        border: 1px solid #9b9b9b;
        padding: 16px 23px;
        border-radius: 4px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        font-family: MetropolisRegular;
    }
}
  