.headline__1, .headline__2, .headline__3, .subheads {
    font-family: MetropolisBold;
    margin: 0;
}

.headline__1 {
    font-size: 34px;
}

.headline__2 {
    font-size: 24px;
}

.headline__3 {
    font-size: 18px;
}

.subheads {
    font-size: 16px;
}